* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
  }

.h-center {
    text-align: center;
    
}

.paragraph {
    color:violet;
}

.section {
    background-image:url("images/header-bg.jpg");
    position: relative;
    background-size:100%;
    background-attachment: fixed;
    perspective: 80rem;
    padding-top: 50;
}


.mainheading{
    text-align: center;
    color:rgb(170, 35, 73);
}

.quotes{
    font-size: 3rem;
    text-align:center;
    text-decoration:underline ;
    font-weight: 500;
    color:rgb(44, 64, 124);  
}

.heading {
    font-size:1.6rem;  
    font-style: italic;
    color:rgb(244, 246, 248);
    width: 1400px;
    letter-spacing: 0.02rem;
    text-shadow: 0.2rem;
    padding-top: 20px;
}
 
.logo {
    position: absolute;
    top: 0.2rem;
    left:4rem;
}

.logo h1{
    display: flex;
}

.logo h1 span{
    font-size: 2rem;
    font-weight: 900;
    color:#2b81e4;
    text-transform: uppercase;
    background-color: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 50%;
}

    .logo h1 span:nth-child(1){
       animation: drop-letters 5s .1s
       infinite;
    }
    .logo h1 span:nth-child(2){
        animation: drop-letters 5s .2s
        infinite;
    }
    .logo h1 span:nth-child(3) {
        animation: drop-letters 5s .3s
        infinite;
    }
    .logo h1 span:nth-child(4){
        animation: drop-letters 5s .4s
        infinite;
    }
    .logo h1 span:nth-child(5){
        animation: drop-letters 5s .5s
        infinite;
    }
    .logo h1 span:nth-child(6){
        animation: drop-letters 5s .6s
        infinite;
    }
    .logo h1 span:nth-child(7){
        animation: drop-letters 5s .7s
        infinite;
    }


@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-50);
    }
    15% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(-50);
    }
    20% {
        transform: translateY(0);
    }
}

.headerimage{
    width:30%;
    animation: image-float 150s infinite;
}

@keyframes image-float{
    0%{
        transform: translateZ(20rem);
        opacity: 1;
    }
    40%{
    transform: translateZ(-200rem)
    translateX(150rem);
    opacity: 0.8;
}
   70%{
    transform: translateZ(-1800rem)
    translatex(800rem);
    opacity: 0.6;
}

  80%{
    transform: translateZ(-30rem)
    translateX(100rem);
    opacity: 0.8;
}

  100%{
    transform: translateZ(20rem);
    opacity: 1;
      }
 }

 .headerimage2{
    width:20%;
    animation: image-float 120s infinite;
}

@keyframes image-float{
    0%{
        transform: translateZ(40rem);
        opacity: 1;
    }
    30%{
    transform: translateZ(-500rem)
    translateX(100rem);
    opacity: 0.8;
}
   60%{
    transform: translateZ(-1200rem)
    translatex(800rem);
    opacity: 0.6;
}

  90%{
    transform: translateZ(-500rem)
    translateX(100rem);
    opacity: 0.8;
}

  100%{
    transform: translateZ(40rem);
    opacity: 1;
      }
 }


/* Stories */
.stories {
    padding: 80px 0;
    position: relative;
  }
  
  .stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .story-bg {
    background-color: rgba(238, 238, 238, 0.85);
    padding: 25px;
    margin: 15px;
    width: 70%;
    box-shadow: 0 12px 15px rgba(51, 51, 51, 0.4);
    transform: skewX(20deg);
  }
  
  .story {
    transform: skewX(-20deg);
    display: flex;
  }
  
  .story-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
  }
  
  .story-text {
    letter-spacing: 1px;
  }
  
  .story-heading {
    font-size: 25px;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 10px;
  }
  
  .story-paragraph {
    font-size: 18px;
    color:  #777;
  }
  
  .story-paragraph::first-letter {
    margin-left: 1px;
  }
  /* End of Stories */

  .contact{
      padding: 25rem 0 10rem 0;
      text-align: center;
      background-image:url("images/contact-us-bg.png");
      background-attachment: fixed;
      
      background-size: cover;
      animation:newanim 10s infinite ;
    
      
  }
  .contactheading{
      font-size:2rem;
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: right;
      font-weight: 700;  
      letter-spacing: 0.8rem;
      color: rgb(10, 10, 14);
  }
  .contactform{
      
      width:40rem;
      height:30rem;
      text-align:left;
      background-color:whitesmoke;
      padding-top: 20px;
       margin: auto;
      flex-direction: column;


  }
.inputgroup{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

    @keyframes newanim{
        0%{
        background-color: rgb(206, 69, 69);
        }
        25%{
            background-color:PINK;
        }
        50%{
            background-color: YELLOW;

        }
        75%{
            background-color: violet;
        }
        100%{
            background-color: GREEN;
        }
    }

        
    .contactcard{
        background-color:whitesmoke;
        height: 900px;
        width: 50%;
        border-radius:2px;
        box-sizing: border-box;
        
    } 

    .button{
        background-color: chartreuse;
        border-radius: 5px;
        border-width: 0ch;
        padding-top: 10px;
        padding-bottom: 10px;
        width:7rem;
        margin: auto;
        
    }
    .contactinput{
        
        border-width: 0ch;
        height: 80px;
        padding-left: 75px;
        
        
    }
.newone{

    padding:20px;
 
}






    



